/* MISCELLANEOUS: */
@font-face {
    font-family: revonza;
    src: url(../fonts/REVONZA\ Regular.ttf);
}

@font-face {
    font-family: Hague;
    src: url(../fonts/Hague\ Demo.ttf);
}

:root {
    --font: "Hague";
    --letter-spacing: 1px;
    --font-size: 20px;
    --theme-color: rgb(58, 72, 56);
    font-size: var(--font-size);
    font-family: var(--font);
    height: 100vh;
    width: 100vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}



/* CONTAINER */
.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}



/* SIDEBAR */
.sidebar {
    flex: 1;
    background-image: url(../images/background.jpg);
    background-size: cover;
}

.title {
    background-color: rgba(55, 55, 55, 0.8);
    font-size: 2.5em;
    font-weight: 900;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: var(--letter-spacing);
    margin-top: 6rem;
    height: 6rem;
}

.title>* {
    margin: 0 0.2em 0 0.2em;
}

#logo {
    height: 1.5em;
}



/* DUMMY TEXT */
.content {
    flex: 2;
    width: 100%;
    letter-spacing: var(--letter-spacing);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.hero {
    background-color: var(--theme-color);
    flex:1;
    padding: 1rem;
    justify-content: center;
    align-items:flex-end;
    display: flex;
    font-size: 2em;
    color: rgb(255, 255, 255);
}



/* FORM */
#form {
    background-color: white;
    flex:1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0.5px 4.5px rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 100000;
}

fieldset {
    width: 100%;
    padding: 6px;
    border: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 400px));
    column-gap: 30px;
    row-gap: 18px;
}

#form label {
    font-size: 0.5rem;
}

legend {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.form-item {
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 4px;
    padding: 1px;
}

input:focus {
    outline-width: 0;
}

input:invalid:focus {
    border: 2px solid rgb(131, 33, 33);
    box-shadow: 1px 1px 3px rgba(131, 33, 33, 0.5)
}

input:valid:focus {
    border: 2px solid rgb(0, 128, 0);
    box-shadow: 1px 1px 3px rgba(0, 128, 0, 0.5)
}



/* FOOTER */
.footer {
    background-color: whitesmoke;
    flex: 1;
    padding: 1em;
    font-size: 0.75em;
}

#submit-button {
    background-color: var(--theme-color);
    color: whitesmoke;
    border-radius: 7px;
    border: 2px solid whitesmoke;
    padding: 0.5em;
    font-size: 1.5em;
    transition: all 0.15s ease-in-out;
}

#submit-button:hover {
    opacity:0.8;
    cursor: pointer;
}

#submit-button:active {
    background-color: whitesmoke;
    color: var(--theme-color);
    border: 2px solid;
}

.log-in {
    display:flex;
    flex-direction: row;
    column-gap: 0.4em;
}

a {
    font: inherit;
    color: var(--theme-color);
    text-decoration: inherit;
    transition: all 0.15s ease-in-out;
}

a:hover {
    font-size: calc(1em + 1px);
    font-weight: 400;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

a:active {
    opacity: 0.8;
}